#resume-column {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  background: #666;

  * {
    transition: all 0.2s ease-in-out;

    &::selection {
      background: #00f428;
      color: #000;
    }
  }

  svg, .long {
    display: none;
  }

  h1 {
    font-size: 2rem;
    font-weight: 600;
  }

  h2 {
    font-style: italic;
    color: #00f428;
    fill: #00f428;
    @media only screen and (max-width: $mq3) {
      margin-left: 0;
    } 
  }

  h3 {
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
    background: #000;
    display: inline-block;
    color: #fff;
    padding: 0 1rem;
  }

  h4 {
    font-size: 1.4rem;
    font-weight: 600;

    span {
      color: #666;
      font-weight: normal;
      font-style: italic;
      font-size: 1.2rem;
    }
  }

  main {
    margin: 0 auto;
    background: #fff;

    header,
    #profile,
    #work {
      padding: 0 2rem;
    }

    header {
      padding: 2rem;
      display: flex;
      justify-content: space-between;
      color: #fff;
      fill: #fff;
      background: #000;
      margin-bottom: 2rem;
      @media only screen and (max-width: $mq2) {
        margin-bottom: 2rem;
      }
      @media only screen and (max-width: $mq3) {
        display: block;
        text-align: center;
        padding-bottom: 4rem;
        svg {
          display: none;
        }
      }      

      ul {
        text-align: right;
        font-size: 1.2rem;
        @media only screen and (max-width: $mq3) {
          text-align: center;
          margin-top: 2rem;
        } 

        a {
          text-decoration: none;
          color: #fff;

          &:hover {
            color: #00f428;
            text-decoration: underline;
            fill: #00f428;
          }
        }
      }
    }

    #profile,
    #work {
      font-size: 1.2rem;
      @media only screen and (max-width: $mq2) {
        padding: 0rem 2rem;
      }

      section {
        padding: inherit 2rem;
        border-bottom: solid 0.1rem #000;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        @media only screen and (min-width: calc($mq2 - 1px)) {
        &:last-of-type {
          margin-bottom: 0rem;
          border-bottom: 0rem;
        }
      }

        &:hover {
          h3 {
            color: #00f428;
            font-style: italic;
          }
        }
      }
    }

    #profile {
      @media only screen and (max-width: $mq2) {
      }

      ul {

        li:not(:last-of-type) {
          margin-bottom: 1rem;
        }
      }
      #education {
        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          li {
            width: calc(100% / 3 - 10px);
          }
        }
      }
    }

    #work {
      @media only screen and (max-width: $mq2) {
        border: 0;
      }
    }

    #experience {
      padding-bottom: 1rem !important;

      >ul>li:not(:last-of-type) {
        margin-bottom: 2rem;
      }

      ul {

        p {
          font-weight: 600;
          font-style: italic;

          span {
            color: #666;
            font-weight: normal;
            font-style: italic;
            font-size: 1.2rem;
          }
        }

        ul {
          margin: 1rem 0 1rem 2rem;

          li {
            list-style: disc;
          }
        }
      }
    }

    #skills {
      border-bottom: 0 !important;
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
          width: calc(25% - 1rem);
          margin-bottom: 0.5rem;
          @media only screen and (max-width: $mq4) {
            width: calc(50% - 1rem);
          } 
          @media only screen and (max-width: $mq5) {
            width: calc(100%);
            list-style-type: disc;
            margin-left: 1.4rem;
          } 

        }
      }
    }
  }
}