//mq
$mq1: 816px;
$mq2: 650px;
$mq3: 575px;
$mq4: 450px;
$mq5: 300px;

@import './stylePartials/print.scss';
@import './stylePartials/resume-columns.scss';
@import './stylePartials/resume-column.scss';
